.block1 {margin: 0 30px; padding: 20px 30px; background-color: rgb(238, 196, 28);}
#block2 {margin: 0 30px; padding: 20px 30px; background-color: rgba(42, 42, 42, 0.542);}


a {color: rgb(0, 0, 0);}
p {color: rgb(237, 154, 37);font-size: 20px;}


.Candies
{
    text-align:center;
    color:#bfbfbf;
    cursor:pointer;
    font-size:14px;
    height:38px;
    background-color:#f3f3f3;
    line-height:38px;
    border: 1px solid #e7e7e7;
    display:table-cell;
    text-decoration: none;
}
.Candies_Chocolate
{
    color:#fefefe;
    background-color:#29c5e6;
    border:1px solid #29c5e6;
}
.Candies_Nutty
 {   
    color:#fefefe;   
    background-color:#df0038;  
    border:1px solid #df0038;
 }
 .Candies_Biscuit
{
    color:#fefefe;
    background-color:#590074;
    border:1px solid #590074;
}


.Ice_cream
{
    font-size: 36px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}
.Ice_cream_Chocolate
{
    color: #a7e8f8;
    font-family: 'Bebas Neue', cursive;
}
.Ice_cream_Nutty
{
    color: #df0038;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.Ice_cream_Biscuit
{
    color: darkgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* домашка 9*/

ul{color: rgb(255, 238, 0);}
.dom_spisok_1 {
    color:rgb(0, 255, 255);
    background-color:gold;
    font-size: 36px;
    }

.dom_spisok_2 {
    color: rgb(0, 255, 255);
    background-color: gold;
    font-size: 36px;
    }

.dom_spisok_3 {
    color:rgb(0, 255, 255);
    background-color: gold;
    font-size: 36px;
}    
#text {
    background-color: rgb(0, 0, 0); 
  color: rgb(255, 255, 255); 
  width: 650px;
  height: 300px;
  padding: 90px;
  border: 25px solid gold; 
  margin: 30px 40px 50px 40px;
}

/*Домашка 10*/

.conteiner {
    width: 350px;
    background-color:gold;
    box-sizing: border-box;
    position: relative;
    }
    .conteiner__element {
        margin: 30px;
        border-right: 20px solid rgb(72, 255, 0);
        border-left: 30px solid rgb(0, 255, 234);
        border-top: 45px solid rgb(212, 0, 255);
        border-bottom: 15px solid rgb(255, 0, 85);
        padding: 70px;
        height: 80%;
        background-color: blue;
        box-sizing: border-box;
    }
    .list {
        width: 100%;
        background: gold;
        display: flex;
        flex-wrap: wrap;
      }
      .item {
        width: calc(25% - 20px);
        background: green;
        margin:5px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .item::before {
        display: block;
        content: '';
        padding-bottom: 100%;
      }
