.block1 {margin: 0 30px; padding: 20px 30px; background-color: rgb(238, 196, 28);}
#block2 {margin: 0 30px; padding: 20px 30px; background-color: rgba(42, 42, 42, 0.542);}




p {color: rgb(255, 165, 39);font-size: 20px;}
